<!DOCTYPE html>
<html>
    <head>
        <title> Pixabay Search (Express Version) </title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <h1> Pixabay Search (Express Version) </h1>
        <div id="inputDiv">
            <form action="/results" method="GET">
                <strong>KEYWORD:</strong>
                <input type="text" name="keyword"><br>
                <strong>Orientation:</strong>
                <select id="layot" name="orientation">
                    <option value="horizontal">horizontal</option>
                    <option value="vertical">vertical</option>
                </select>
                <button> Search! </button>
            </form> <br>
        </div>
        <div id="imageDiv">
            <% if(image.total > 0){ %>
                <% rndArry.forEach(function(indx) { %>
                <figure><span>Likes:<%=image.hits[indx].likes%></span><img src='<%=image.hits[indx].largeImageURL%>'></figure>
                <% }); %>
            <% } else {%>
                <span style="margin-left:40%; margin-top:5%; font-size: 40px;">Sorry no results found!</span>
            <% } %>
        </div>
    </body>
</html>